<table class="b">
    {{#each reverseArray newsUserPage}}
        <tbody>
        <tr>
            <td><h4>{{this.headline}}</h4></td>
            </tr>
            <tr>
            <td>
                <p>{{this.date}}</p>
            </td>
            </tr>
        <tr>
            <td>
                <p>{{this.content}}</p>
            </td>
        </tr>
        </tbody>
    {{/each}}
</table>
