.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}


table.a {
    border-collapse: separate;
    border-spacing: 0;
    font-weight: 500;


    font-size: 12px;
}

table.b {

    border-spacing: 0;
    font-weight: 500;


    font-size: 12px;
}

thead tr:first-child {
    border: none;
    text-align: left;
    padding-right: 10px;
}

th:first-child,
td:first-child {
    padding: 0 1px 0 5px;
}


tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
}

tbody tr:last-child td {
    border: none;
    border-bottom: 2px solid black;

    padding-right: 10px;
}



td:last-child {
    text-align: right;
    padding-right: 10px;

}

#button1 {
    color: #aaa;
    cursor: pointer;

    margin-top: -4px;
}

#button2 {
    color: #aaa;
    cursor: pointer;

    margin-top: -4px;
}

#button1:hover {
    color: #0a79df;
}

#button2:hover {
    color: #dc2a2a;
}

#fb-share-button:hover {
    color: green;
}


 body {
     margin-top: 40px;
     text-align: center;
     font-size: 14px;
     font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
     background-color: #DDDDDD;
 }

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    /* 		float: right; */
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
}



