.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}


table.a {
    border-collapse: separate;
    border-spacing: 0;
    font-weight: 500;


    font-size: 10px;
}

thead tr:first-child {
    border: none;
    text-align: left;
    padding-right: 10px;
}

th:first-child,
td:first-child {
    padding: 0 1px 0 5px;
}


tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
}

tbody tr:last-child td {
    border: none;
    border-bottom: 2px solid black;
    padding: 0 1px 0 1px;
}



td:last-child {
    text-align: right;
    padding-right: 10px;

}

#button1 {
    color: #aaa;
    cursor: pointer;

    margin-top: -4px;
}

#button2 {
    color: #aaa;
    cursor: pointer;

    margin-top: -4px;
}

#button1:hover {
    color: #0a79df;
}

#button2:hover {
    color: #dc2a2a;
}

#fb-share-button:hover {
    color: green;
}