.tab-pane {
    border-left: 1px solid #ed1c40;
    border-right: 1px solid #ed1c40;
    border-bottom: 1px solid #ed1c40;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

table.a {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 500px;
    margin: 50px auto;
    border-radius: .25rem;


}

#button1 {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}

#button2 {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}