<!DOCTYPE html>
<html>
<head>
  <title>Express-session</title>
    <script src="index.js"></script>
</head>
  <body>
    <h3>Logget ind som - Administrator</h3>
    <br>
    <h3> Opret nyhed </h3>
    <span class="a"> <input id="headline" placeholder="Overskrift"></span><br>
    <span class="a"> <textarea rows = "6" cols = "50" id="content" placeholder="Indsæt brødtekst her"></textarea> </span><br>
    <span class="a"> <button id="saveNews"> Opret </button></span> <br>

    <a href="/logout">Log ud</a>
  </body>
</html>

