<!DOCTYPE html>
<html>
<head>
  <title>Express-session</title>
</head>
  <body>
    <h3>Velkommen {{email}}!</h3>
    <br>
    <h3> Opret nyhed </h3>
    <span class="a"> <input id="headline" placeholder="Overskrift"></span>
    <span class="a"> <input id="content" placeholder="Brødtekst"></span>
    <span class="a" id="saveNews"><button onclick = "addNews()"> Opret </button></span>

    <a href="/logout">Log ud</a>
  </body>
</html>

