<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <script src="handlebars-v4.0.12.js"></script>
    <script src="index.js"></script>
    <script src="adminCalenderScript.js" defer></script>


    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v3.2"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>


    <link href='fullcalendar.css' rel='stylesheet'/>
    <script src='fullcalendar.js' ></script>


</head>
<body>


<div id="fb-root"></div>
<div class="container">
    <div class="container" id="header">
        <h1 align="center"> Skanderborg Shotokan Karate</h1>
    </div>
    <h2 align="center">Admin login</h2>


    <div class="container">

        <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" href="#menuNyheder">Nyheder</a></li>
            <li><a data-toggle="tab" href="#menukalender">Kalender</a></li>
            <li><a data-toggle="tab" href="#menutræningsinfo">Træningsinfo</a></li>
            <li><a data-toggle="tab" href="#menukontakt">Kontakt</a></li>
            <li><a data-toggle="tab" href="#menumedlemmer">Medlemmer</a></li>
            <li><a data-toggle="tab" href="#menuLogin">Login</a></li>

        </ul>

        <div class="tab-content">
            <div id="menuLogin" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Login</h3>
                        <ol id="log ud"></ol>
                        <a href="/logout">Log ud</a>
                    </div>

                </div>
            </div>
            <div id="menuNyheder" class="tab-pane fade  in active">
                <div class="row">

                    <div class="col-sm-6">

                        <h3> Opret nyhed </h3>
                        <span class="a"> <input id="headline" placeholder="Overskrift"></span><br>
                        <span class="a"> <textarea rows="6" cols="50" id="content"
                                                   placeholder="Indsæt brødtekst her"></textarea> </span><br>
                        <span class="a"> <button id="saveNews"> Opret </button></span> <br>
                    </div>

                    <div class="col-sm-6">
                        <div class="well">
                            <p id="nyheder"></p>

                        </div>
                    </div>

                </div>
            </div>
            <div id="menukalender" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        
                        <div id='calendar'></div>
                    </div>

                </div>
            </div>
            <div id="menutræningsinfo" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Træningsinfo</h3>
                        <p>
                            Der trænes i Stilling hallen, hvis man er interesseret i karate er man
                            velkommen til at komme at kigge på. Hvis man er interesseret i at prøve at
                            træne med skal man først kontakte Sensei Henrik
                        </p>
                        <br>
                        <br>
                        <br>
                        <p>
                            Sommer træning:
                        </p>
                        <p>
                            træning hver fredag indtil sommerferien kl. 16.30-18.00
                            Der ud over forventes den seriøse karate udøver også at træne hjemme.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Du finder os her: Gramvej 10, Stilling
                        </p>
                        <br>
                        <img id="Karatalokation" class="images" src="Pictures/KarateLokation.jpg" width="400"
                             height="400">
                    </div>

                </div>
            </div>
            <div id="menukontakt" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Kontakt</h3>
                        <p>
                            Vil du gerne i kontakt med klubben, f.eks. for at få mulighed for at deltage
                            i en prøvetime, så send venligst en mail til nedenstående addresse.
                            Du er naturligvis også velkommen til at dukke op til en af vores træninger.
                            Her kan vi dog ikke garantere for at du har mulighed for at træne med.
                            Alle er dog velkomne til at komme og kigge på.
                        </p>
                        <br>
                        <br>
                        <p>
                            Send en mail til
                            Skanderborg Shotokan Karate-Do

                            e-mail: info@skanderborgkarate.dk
                        </p>

                    </div>
                </div>
            </div>


            <div id="menuMedlemmer" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Medlemmer</h3>

                        <p>Medlemmer Navn</p>
                        <span class="a"> <input id="memberName" placeholder="Navn"></span>
                        <br>
                        <p>Medlemmer Alder</p>
                        <span class="a"> <input id="memberAge" placeholder="Alder"></span>
                        <br>
                        <p>Medlemmer Email</p>
                        <span class="a"> <input id="memberEmail" placeholder="Email"></span>
                        <br>

                        <span class="a"> <button id="saveMember"> Opret </button></span> <br>
                    </div>

                    <div class="col-sm-6">
                        <div class="well">
                            <p id="medlemmer"></p>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>

</body>
</html>
